<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="copyright-plugin" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${bitbucket.home}/logs/copyright-plugin.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="copyright-plugin-debug" class="ch.qos.logback.core.FileAppender">
        <file>${bitbucket.home}/logs/copyright-plugin-debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="copyright-plugin-console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.roylenferink.bitbucket" level="DEBUG">
        <appender-ref ref="copyright-plugin" />
        <appender-ref ref="copyright-plugin-debug" />
        <appender-ref ref="copyright-plugin-console" />
    </logger>

</configuration>
